*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.oi{
    color: goldenrod;
}

thead{
    text-transform: uppercase;
}
.card-text{
    text-align: justify;
}
.bold{
    color: indigo;
    font-weight: bold;
}
.jumbotron{
    background-image: url('https://images.unsplash.com/photo-1515238152791-8216bfdf89a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    margin: 0;
}
.breadcrumb{
    border-radius: none;
}